/* definiendo paleta de colores */
:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #2ff40a;
    --secundario: rgba(47,244,10,0.25);
    --terciario: rgb(243, 163, 13);
    --gris:#7575752f;
}

/*Estilos Generales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y proximity;
}
/*Configuracion de snaps para scroll*/
.front,
.bannerStart,
.servicios,
.contacto
{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Stick', sans-serif;
}

/* styles utility */
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.wd-sm-100{
    width: 100%;
}
@media (min-width: 480px) {
    .wd-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.der-align{
    justify-content: flex-end;
}
.izq-align{
    justify-content: flex-start;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px) {
    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

main{
    background-color: black;
    color: white;
    -webkit-box-shadow: 1px 11px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 1px 11px 5px 0px rgba(0,0,0,0.36);
    box-shadow: 1px 11px 5px 0px rgba(0,0,0,0.36);  
    padding-bottom: 0.7rem;
}
main h2 {
    margin: 0rem;
    color: var(--negro);
    padding: 2rem;
    background-color: var(--primario);
    text-align: center;
}
/*Button Styles*/
.btn{
    text-decoration: none;
    margin: 0;
    color: white;
    font-size: 3rem;
    padding: 2rem;
    border: 1px solid var(--blanco);
    border-radius: 3rem;
   
}
.btn2{
    margin: 0;
    color:black;
    font-size: 2rem;
    padding: 2rem;
    border: 1px solid var(--blanco);
    border-radius: 2rem;
}

.btn:hover{
    background-color: white;
    font-weight: 700;
    color: var(--negro);
    transition: all 0.5s;
    cursor: pointer;
}

/*Titulo Styles*/
.header-bg{
    background-color: var(--negro);
    margin-top: -5rem;
}
.header-bg .sign{
    display: block;
    padding: 4rem;
    width: 60%;
    height: 50%;
    margin: -7rem auto 0 auto;   
}

.titulo {
    margin: 0;
    padding: 4.5rem;
    font-size: 3.8rem;
    text-align: center;
    color: var(--primario);
}
.titulo span{
    font-size: 2rem;
    color: var(--blanco);
}

.photo{
    width: 25rem;
    height: 41rem;
}

@media (min-width: 468px) {
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo span {
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .photo{
        width: 25%;
        height: 50%;
    }

    .header-bg .sign{
        position: absolute;
        margin:-25% auto 0 48%;
        width: 30%;
        height: 30%;
    }

}

/*Nav styles*/
.nav-bg{
    background-color: var(--secundario);
} 
.navegacion-principal{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.navegacion-principal a {
    display: block;
    text-align: left;
    width: 100%;
    padding: 2rem; 
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 2rem;
    color: var(--negro);
    border-left: 0.5rem solid var(--primario);
}
.navegacion-principal a:last-of-type{
    border-right: 0.5rem solid var(--primario);
} 

.navegacion-principal a:hover {
    background-color: var(--blanco);
    border-left: 5rem solid var(--primario);
    font-size: 2.5rem;
    transition: all 1s;
}


@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
    } 
    .navegacion-principal a{
        text-align: center;
    }

}

/*Banner Styles*/
.bannerStart{
    color: white;
    background-image: url(../img/BannerStart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    position: relative;
}
.bannerStarterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 5rem;
    background-color: rgb(0 0 0 / 80%);
    width: 100%;
    height: 100%;
}
.bannerStarterDiv h2 {
    margin-top: 0;
    text-align: center;
}
.bannerStarterDiv hr{
    margin-top: 1rem;
    margin-bottom: 4rem;
    height: 1%;
    width: 15%;
    background-color: var(--primario);
    border: 0;
}
.bannerStarterDiv svg{
    height: 60%;
    width: 60%;
}

.bannerStarterDiv p {
    font-size: 2.5rem;
}


@media(min-width: 480px){

    .bannerStarterDiv h2{
        margin-top: 0;
        font-size: 4rem;
    }

    .bannerStarterDiv svg {
        height: 90%;
        width: 90%;
    }

}


/* services styles */
.servicios section p {
    line-height: 2;
    color: var(--blanco);
    text-align: center;
}
.servicios section h3 {
    color: var(--blanco);
}

.servicios section {
    padding: 2rem 5rem 2rem 5rem;

}

@media (min-width: 480px) {
    .servicios {
        column-gap: 5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .servicios section {
        padding: 0rem;
    }
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background-color: var(--gris);
    border-radius: 50%;
}

.iconos:hover{
    background-color: var(--blanco);
    transition: all 1s;
}

.card{
    background-color: rgb(255 255 255 / 10%);
    border-radius: 10%;
    margin: 2rem;
}
@media (min-width: 480px) {
    .card{
        background-color: var(--negro);
        border-radius: 0%;
        margin: 0;
    }
}

/* contacto styles  */
.contacto {
    background-color: rgb(255 255 255 / 10%);
    width: min(60rem, 100%);/* se define el tamaño minimo y maximo que va a toimar el elemento */
    margin: 0rem auto;
    padding: 2rem;
    border-radius: 1rem;
}
@media (min-width: 480px) {
    .contacto {
        margin: 2rem auto;
    }
}
.contacto fieldset{
    border: none;
}
.contacto legend {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: var(--primario);
}


.campos{
    margin-bottom: 2rem;
}

.campos label {
    color: var(--blanco);
    margin-bottom: .5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/*Footer Styles*/
footer {
    background-color: var(--primario);
    text-align:center;
}

footer p {
    margin: 0;
    padding: 2rem;
    font-size: 1.7rem;
}
footer p span{
    font-size: 1rem;
}

@media (min-width: 480px) {
    footer p {
        margin: 0;
        padding: 3rem;
        font-size: 2.5rem;
    }
    footer p span{
        font-size: 1rem;
    }
}
